html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin:0;
    padding:0;
    background-color: #1f2833;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color:white;
}

h1, h2, h3 {
    padding:0;
    margin:0;
}

#header {
    background-color: #1a212b;
    text-align: center;
    width:100%;         
    padding:1px;
    font-size: 28px;
}

#header ul {
    margin:0;
    list-style: none;   
    padding:0;
}

#header li {
    padding-top:20px;
    display: inline-block;
    position: relative;
    margin-right:80px;
    margin-bottom:20px;
}

#header a {
    color:white;
    text-decoration: none;
}

#header a:hover {
    color:#66fcf1;
}

#header a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #66FCF1;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 200ms;
}

#header a:hover::before {
    width:100%;
}

#intro {
    color:white;
    height:auto;
    text-align:center;
    margin:0px;
    min-height:100vh;
}

#intro-wrapper {
    display:flex;
    flex-direction: row;
    align-content: stretch;
}

#intro-pic {
    padding:0;
}

#portrait {
    float:left;
    height:100vh;
    width:auto;
}

#intro-pic {
    
}

#intro-text {
    align-self: center;
    width:100%;
    text-align: center; 
}

#intro-text h1 {
    font-size:70px;
    padding: 30px;
}

#intro-text h2 {
    font-size:30px;
    padding:10px;
}

#intro-text h3 {
    font-size: 25px;
}
.color-text {
    color:#66FCF1;
}

.section {
    min-height:100vh;
}

.section:nth-child(2n) {
    background-color:black;
}

#poem p {
    text-align:center;
    padding: 0;
    margin: 0;
    font-family: Garamond, monospace;
    text-transform: uppercase;
    font-size:20px;
}

#credit {
    font-weight: none;
    text-transform: none;
    position: relative;
    left:200px;
}

#about-me {
    background-image: url("background3.jpg");
    background-size: cover;
}

#about-me h1 {
    padding: 25px;
    font-size:70px;
    text-align:center;
    color: #66FCF1;
}

#main-text {
    background-color:black;
    padding:20px;
    opacity: 0.8;
    text-align:justify;
    margin:20px;
    font-size:24px;
}

#main-text a {
    text-decoration: none;
    color:green;
}

#about-links {
    text-align:center;
    background-color:white;
    padding:15px;
    border-radius:30px;
}

#about-links li {
    display:inline-block;
    padding-left:50px;
}

#a-resume, #a-linkedin, #a-github, #a-instagram {
    height:45px;
}

#skills-wrapper {
    margin:20px;
    display: flex;
}

#skills h1 {
    padding: 25px;
    font-size:70px;
    text-align:center;
    color: #66FCF1
}

#skills ul {
    list-style: none;
    padding:0;
    margin:0;
}

#skills li {
    padding:15px;
}

.skills-item {
    padding-right:100px;   
    margin-bottom:20px;
}

#footer {
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    width:100%;
    padding:20px;
    color:white;
    background-color:rgb(59, 56, 56);
}

#footer a {
    text-decoration: underline;
    color: white;
}

.pbar {
    position:relative;
    left:10px;
    width:400px;
    background-color:gray;
    height:20px;
    border-radius:30px;
}

.pbarfill {
    position: absolute;
    border-radius:30px;
    background-color:rgb(7, 160, 45);
    top:0;
    left:0;
    z-index:10;
    height:100%;
}

#python {
    width:85%;
}

#java {
    width:83%;
}

#csharp {
    width:65%;
}

#c {
    width:40%;
}

#js {
   width: 60%; 
}

#html {
    width:80%;
}

#css {
    width:80%;
}

#ss {
    width: 60%;
}

#git {
    width: 70%;
}

#svn {
    width:75%;
}

#microsoft {
    width:90%;
}

#latex {
    width:50%;
}

#unix {
    width:40%;
}

#english {
    width:100%;
}

#urdu {
    width:95%;
}

#hindi {
    width:90%;
}

#punjabi {
    width:40%;
}

#french {
    width:75%;
}

